<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.e4.workbench.model" id="modelContribution">
		<fragment uri="e4model/admtool.e4xmi"></fragment> 
	</extension>

 <extension point="org.modelio.app.preferencepages">
      <page id="org.modelio.admtool.logpreferences"
            name="%AdmTool.Admin.label"
            class="org.modelio.admtool.preferences.AdminPreferencesPage" 
            icon="icons/admin.png" />
   </extension>
   
    <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="org.modelio.admtool.preferences.AdminPreferencesInitializer">
     </initializer>
  </extension>
   
  <extension point="org.eclipse.core.expressions.definitions">
     <definition id="admtool.definition.adminmode">
        <test property="admtool.test.adminmode"/>
     </definition>
  </extension>
  
  <extension point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="org.modelio.admtool.plugin.AdminModeTester"
           id="admtool.propertyTester"
           namespace="admtool.test"
           properties="adminmode"
           type="org.eclipse.jface.viewers.ISelection">
     </propertyTester>
  </extension>
</plugin>
