<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.e4.workbench.model" id="modelContribution">
		<fragment
        uri="e4model/propertyview.e4xmi"/>
	</extension>

	<extension-point id="org.modelio.app.propertyview.panels" name="Property view panels" schema="schema/org.modelio.app.propertyview.panels.exsd"/>

	<extension point="org.modelio.app.propertyview.panels">
    	<panel  class="org.modelio.propertyview.fragment.FragmentPropertiesPanel"
          		id="org.modelio.propertyview.panels.fragment.properties"

				label="%Fragment.properties.label"
          		icon="icons/element.png"
          		primary="true">
    	</panel>
    </extension>


</plugin>
