<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.modelio.app.model.search.ui.searchtool" name="Search tool" schema="schema/org.modelio.app.model.search.ui.searchtool.exsd"/>
   
   <extension point="org.eclipse.e4.workbench.model" id="modelContribution">
      <fragment uri="e4model/modelsearch.e4xmi"/> 
   </extension>
   
   <extension point="org.modelio.app.model.search.ui.searchtool">
      <searchtool
            label="%ModelSearchTab.label"
            engine="org.modelio.platform.search.engine.searchers.model.ModelSearchEngine"
            panel="org.modelio.platform.model.ui.panels.search.model.ModelSearchPanel">
      </searchtool>
      <searchtool
            label="%NoteSearchTab.label"
            engine="org.modelio.platform.search.engine.searchers.note.NoteSearchEngine"
            panel="org.modelio.platform.model.ui.panels.search.note.NoteSearchPanel">
      </searchtool>
   </extension>
</plugin>
