<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.e4.workbench.model"  id="modelContribution">
      <fragment uri="e4model/uml.ui.e4xmi"/>
   </extension>
   
    <extension point="org.modelio.model.browser.view.contentprovider">
      <service metamodel="Standard" implementation="org.modelio.uml.ui.browser.contrib.UmlContentProvider" />
   </extension>

   <extension point="org.modelio.app.metamodel.browser.labelprovider">
      <service metamodel="Standard" implementation="org.modelio.uml.ui.browser.contrib.labelprovider.UmlLabelProvider" />
   </extension>

   <extension point="org.modelio.app.metamodel.diagram.api.factory">
      <service metamodel="Standard" implementation="org.modelio.uml.ui.dg.UmlDGFactory" />
   </extension>   

   <extension point="org.modelio.app.metamodel.modelproperty.propertymodelprovider">
      <service metamodel="Standard" implementation="org.modelio.uml.ui.modelproperty.UmlPropertyModelProvider" />
   </extension>
   
   <extension point="org.modelio.app.metamodel.element.image">
      <service metamodel="Standard" implementation="org.modelio.uml.ui.image.UmlElementImageProvider" />
   </extension>
   
   <extension point="org.modelio.app.metamodel.mclass.image">
      <service metamodel="Standard" implementation="org.modelio.uml.ui.image.UmlElementImageProvider" />
   </extension>

   <extension point="org.modelio.audit.extensions">
      <audit clazz="org.modelio.uml.ui.audit.UmlAuditExtension"/>
   </extension>
</plugin>
