<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.e4.workbench.model" id="modelContribution">
    <fragment uri="e4model/browserview_org.e4xmi"/>
  </extension>

  <extension point="org.modelio.model.browser.view.panelprovider">
    <panel class="org.modelio.model.browser.view.panel.ModelBrowserPanelProvider" id="model.browser.ext_org.panel"/>
  </extension>
</plugin>
