/.metadata/
/workspace/
cachedir/
*.log
modelio/*/*/bin
modelio/*/*/target
modelio/*/*/runtime/bin
features/*/*/target
products/target

doc/plugins/*/*/target
doc/plugins/*/*/html/*
doc/plugins/*/*/nl/*/html/*
!doc/plugins/*/documentation.metamodel.uml/html/*
!doc/plugins/*/documentation.metamodel.archimate/html/*
!doc/plugins/*/documentation.modelioapi.org/html/*
!doc/plugins/*/documentation.welcome.org/html/*
!doc/plugins/*/documentation.welcome.org/nl/*/html/*
doc/features/*/*/target
