<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension id="diagram.composite" point="org.eclipse.e4.workbench.model">
      <fragment uri="e4model/diagram_composite_editor.e4xmi"/>
      <processor beforefragment="true" class="org.modelio.diagram.editor.composite.plugin.CompositeProcessor"/>
   </extension>
   <extension point="org.modelio.diagram.editor.inputprovider">
      <inputprovider class="org.modelio.diagram.editor.composite.editor.CompositeDiagramEditorInputProvider"/>
   </extension>

   	<extension point="org.modelio.creation.wizard.contributor">
		<creation
				categoryType = "%ContributorCategoryType.UML"
				categoryLabel = "%ContributorCategoryLabel.UML"
				categoryIcon = "./icons/uml.png"
				contributor="org.modelio.diagram.editor.composite.contributor.CompositeDiagramCreationContributor">
		</creation>
	</extension>

    <extension name="Composite drop extension" point="org.modelio.diagram.editor.droppolicy.extensions">
    	<droppolicyextension class="org.modelio.diagram.editor.object.elements.objectdiagram.ObjectDiagramDropEditPolicyExtension">
    		<scope editorId="org.modelio.diagram.editor.composite.CompositeDiagramEditorID"/>
    	</droppolicyextension>
    </extension>

    <extension
          point="org.modelio.diagram.editor.palette">
       <palette
             id="org.modelio.diagram.editor.composite.CompositeDiagramEditorID">
          <palette_group
                collapsible="false"
                label="main">
             <selection_tool default="true"/>
             <marquee_tool/>
             <universal_link_tool/>
          </palette_group>
          <palette_group label="%CompositePaletteGroup.Nodes" initialState="open">
             <creation_tool id="CREATE_BINDABLEINSTANCE"/>
             <creation_tool id="CREATE_ATTRIBUTELINK"/>
             <creation_tool id="CREATE_COLLABORATIONUSE"/>
             <creation_tool id="CREATE_PORT"/>
             <creation_tool id="CREATE_PROVIDED_INTERFACE"/>
             <creation_tool id="CREATE_REQUIRED_INTERFACE"/>
          </palette_group>
          <palette_group label="%CompositePaletteGroup.Links" initialState="open">
             <creation_tool id="CREATE_INSTANCELINK"/>
             <creation_tool id="CREATE_NARY_INSTANCELINK"/>
             <creation_tool id="CREATE_DELEGATELINK"/>
             <creation_tool id="CREATE_USE"/>
             <creation_tool id="CREATE_BINDING"/>
          </palette_group>
          <palette_group label="%CompositePaletteGroup.InformationFlow">
             <creation_tool id="CREATE_INFORMATIONFLOW"/>
             <creation_tool id="CREATE_INFORMATIONFLOWNODE"/>
             <creation_tool id="CREATE_INFORMATIONITEM"/>
          </palette_group>
          <palette_group label="%CompositePaletteGroup.Common">
             <creation_tool id="CREATE_NOTE"/>
             <creation_tool id="CREATE_CONSTRAINT"/>
             <creation_tool id="CREATE_EXTERNDOCUMENT"/>
             <creation_tool id="CREATE_DEPENDENCY"/>
             <creation_tool id="CREATE_TRACEABILITY"/>
             <creation_tool id="CREATE_RELATED_DIAGRAM_LINK"/>
          </palette_group>
          <palette_group label="%CompositePaletteGroup.Drawings">
             <creation_tool id="CREATE_DRAWING_LINE"/>
             <creation_tool id="CREATE_DRAWING_TEXT"/>
             <creation_tool id="CREATE_DRAWING_ELLIPSE"/>
             <creation_tool id="CREATE_DRAWING_RECTANGLE"/>
          </palette_group>
       </palette>
    </extension>
</plugin>
