<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.modelio.api.module.handlercontributor"
    name="Module handler contributor"
    schema="schema/org.modelio.api.module.contributor.exsd"/>
   <extension
         point="org.modelio.api.module.handlercontributor">

      <command-handler
            class="org.modelio.api.module.command.standard.ElementCreationStandardHandler"
            verb="ElementCreate">
      </command-handler>
      <command-handler
            class="org.modelio.api.module.command.standard.ElementCreationStandardHandler"
            verb="GenericElementCreationHandler">
      </command-handler>
      <command-handler
            class="org.modelio.api.module.command.standard.DiagramCreationStandardHandler"
            verb="GenericDiagramCreationHandler">
      </command-handler>
      <command-handler
            class="org.modelio.api.module.command.standard.DiagramCreationStandardHandler"
            verb="DiagramCreate">
      </command-handler>
      <command-handler
            class="org.modelio.api.module.command.standard.ApplyPatternStandardHandler"
            verb="PatternApply">
      </command-handler>
      <command-handler
            class="org.modelio.api.module.command.standard.RunJythonScriptStandardHandler"
            verb="RunJyScript">
      </command-handler>

      <diagram-tool
            class="org.modelio.api.modelio.diagram.tools.standard.GenericBoxTool"
            verb="Box">
      </diagram-tool>
      <diagram-tool
            class="org.modelio.api.modelio.diagram.tools.standard.GenericLinkTool"
            verb="Link">
      </diagram-tool>
      <diagram-tool
            class="org.modelio.api.modelio.diagram.tools.standard.GenericAttachedBoxTool"
            verb="AttachedBox">
      </diagram-tool>
      <diagram-tool
            class="org.modelio.api.modelio.diagram.tools.standard.GenericMultiLinkTool"
            verb="Multilink">
      </diagram-tool>

      <diagram-customizer
            class="org.modelio.api.modelio.diagram.DefaultDiagramCustomizer"
            verb="StandardCustomizer">
      </diagram-customizer>

      <wizard-contributor
            verb="GenericWizardContributor"
            class="org.modelio.api.module.contributor.diagramcreation.standard.GenericDiagramWizardContributor">
      </wizard-contributor>
   </extension>

</plugin>
