<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.e4.workbench.model" id="modelContribution">
		<fragment
        uri="e4model/propertyview.e4xmi"></fragment> 
	</extension>
	
	<extension-point id="org.modelio.propertyview.panels" name="Property view panels" schema="schema/org.modelio.propertyview.panels.exsd"/>
</plugin>
