<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="rcp" sequenceNumber="30">
	<locations>
		<location path="${project_loc:/RCPTARGET}/documentation-en" type="Directory"/>
		<location path="${project_loc:/RCPTARGET}/eclipse" type="Directory"/>
		<location path="${project_loc:/RCPTARGET}/nebula" type="Directory"/>
		<location path="${project_loc:/RCPTARGET}/nebula-incubator" type="Directory"/>
		<location path="${project_loc:/RCPTARGET}/nebula-nattable" type="Directory"/>
		<location path="${project_loc:/RCPTARGET}/commons-lang" type="Directory"/>
		<location path="${project_loc:/RCPTARGET}/gef" type="Directory"/>
		<location path="${project_loc:/RCPTARGET}/uml2_3.2" type="Directory"/>
		<location path="${project_loc:/RCPTARGET}/astyle" type="Directory"/>
		<location path="${project_loc:/RCPTARGET}/emf" type="Directory"/>
		<location path="${project_loc:/RCPTARGET}/jdbm" type="Directory"/>
		<location path="${project_loc:/RCPTARGET}/praticalxml" type="Directory"/>
    <location path="${project_loc:/RCPTARGET}/tika" type="Directory"/>
	</locations>
</target>
