<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   <extension id="diagram.activity" point="org.eclipse.e4.workbench.model">
      <fragment uri="e4model/diagram_activity_editor.e4xmi"/>
      <processor beforefragment="true" class="org.modelio.uml.activitydiagram.editor.plugin.ActivityProcessor"/>
   </extension>

   <extension point="org.modelio.app.diagram.editor.inputprovider">
      <inputprovider class="org.modelio.uml.activitydiagram.editor.editor.ActivityDiagramEditorInputProvider"/>
   </extension>

	<extension point="org.modelio.app.diagram.editor.toolregistry">
		<tools>
			<creationtool id="CREATE_ACCEPTCHANGEEVENTACTION" label="%AcceptChangeEventAction.label" tooltip="%AcceptChangeEventAction.tooltip" interactor="node">
				<context metaclass="Standard.AcceptChangeEventAction"  />
			</creationtool>
			<creationtool id="CREATE_ACCEPTCALLEVENTACTION" label="%AcceptCallEventAction.label" tooltip="%AcceptCallEventAction.tooltip" interactor="node">
				<context metaclass="Standard.AcceptCallEventAction"  />
			</creationtool>
			<creationtool id="CREATE_ACCEPTSIGNALACTION" label="%AcceptSignalAction.label" tooltip="%AcceptSignalAction.tooltip" interactor="node">
				<context metaclass="Standard.AcceptSignalAction"  />
			</creationtool>
			<creationtool id="CREATE_ACCEPTTIMEEVENTACTION" label="%AcceptTimeEventAction.label" tooltip="%AcceptTimeEventAction.tooltip" interactor="point">
				<context metaclass="Standard.AcceptTimeEventAction"  />
			</creationtool>
			<creationtool id="CREATE_ACTIVITYFINALNODE" label="%ActivityFinalNode.label" tooltip="%ActivityFinalNode.tooltip" interactor="point">
				<context metaclass="Standard.ActivityFinalNode"  />
			</creationtool>
			<creationtool id="CREATE_ACTIVITYPARAMETERNODE" label="%ActivityParameterNode.label" tooltip="%ActivityParameterNode.tooltip" interactor="node">
				<context metaclass="Standard.ActivityParameterNode"  >
					<property name="complete" value="1"/>
				</context>
			</creationtool>
	        <creationtool id="CREATE_ACTIVITYPARTITION_VERTICAL_CONTAINER" label="%ActivityPartitionVerticalContainer.label" tooltip="%ActivityPartitionVerticalContainer.tooltip" interactor="point">
				<context metaclass="Standard.ActivityPartition" dependency="Activity.OwnedGroup">
				<property name="kind" value="VERTICAL_CONTAINER"/>
				</context>
			</creationtool>
	        <creationtool id="CREATE_ACTIVITYPARTITION_HORIZONTAL_CONTAINER" label="%ActivityPartitionHorizontalContainer.label" tooltip="%ActivityPartitionHorizontalContainer.tooltip" interactor="point" icon="icons/partition_horiz.png">
	            <context metaclass="Standard.ActivityPartition" dependency="Activity.OwnedGroup">
	            <property name="kind" value="HORIZONTAL_CONTAINER"/>
	            </context>
	        </creationtool>
	        <creationtool id="CREATE_ACTIVITYPARTITION_SIBLING" label="%ActivityPartitionSibling.label" tooltip="%ActivityPartitionSibling.tooltip" interactor="node" icon="icons/partition_sibling.png">
	            <context metaclass="Standard.ActivityPartition" dependency="Activity.OwnedGroup">
	            <property name="kind" value="SIBLING"/>
	            </context>
	        </creationtool>
	        <creationtool id="CREATE_ACTIVITYPARTITION_INNER" label="%ActivityPartitionInner.label" tooltip="%ActivityPartitionInner.tooltip" interactor="node" icon="icons/partition_sub.png">
	            <context metaclass="Standard.ActivityPartition" dependency="Activity.OwnedGroup">
	            <property name="kind" value="INNER"/>
	            </context>
	        </creationtool>
	        <creationtool id="CREATE_CALLBEHAVIORACTION" label="%CallBehaviorAction.label" tooltip="%CallBehaviorAction.tooltip" interactor="node">
				<context metaclass="Standard.CallBehaviorAction"  />
			</creationtool>
			<creationtool id="CREATE_CALLOPERATIONACTION" label="%CallOperationAction.label" tooltip="%CallOperationAction.tooltip" interactor="node">
				<context metaclass="Standard.CallOperationAction"  />
			</creationtool>
			<creationtool id="CREATE_CENTRALBUFFERNODE" label="%CentralBufferNode.label" tooltip="%CentralBufferNode.tooltip" interactor="node">
				<context metaclass="Standard.CentralBufferNode"  >
					<property name="complete" value="1"/>
				</context>
			</creationtool>
			<creationtool id="CREATE_CLAUSE" label="%Clause.label" tooltip="%Clause.tooltip" interactor="node">
				<context metaclass="Standard.Clause"  />
			</creationtool>
			<creationtool id="CREATE_CONDITIONALNODE" label="%ConditionalNode.label" tooltip="%ConditionalNode.tooltip" interactor="node">
				<context metaclass="Standard.ConditionalNode"  />
			</creationtool>
			<creationtool id="CREATE_CONTROLFLOW" label="%ControlFlow.label" tooltip="%ControlFlow.tooltip" interactor="link">
				<context metaclass="Standard.ControlFlow" router="CONTROLFLOW_ROUTINGMODE" />
			</creationtool>
			<creationtool id="CREATE_DATASTORENODE" label="%DataStoreNode.label" tooltip="%DataStoreNode.tooltip" interactor="node">
				<context metaclass="Standard.DataStoreNode"  >
					<property name="complete" value="1"/>
				</context>
			</creationtool>
			<creationtool id="CREATE_DECISIONMERGENODE" label="%DecisionMergeNode.label" tooltip="%DecisionMergeNode.tooltip" interactor="point">
				<context metaclass="Standard.DecisionMergeNode"  />
			</creationtool>
			<creationtool id="CREATE_EXCEPTIONHANDLER" label="%ExceptionHandler.label" tooltip="%ExceptionHandler.tooltip" interactor="link">
				<context metaclass="Standard.ExceptionHandler" router="EXCEPTIONHANDLER_ROUTINGMODE" />
			</creationtool>
			<creationtool id="CREATE_EXPANSIONNODE_INPUT" label="%ExpansionNodeInput.label" tooltip="%ExpansionNodeInput.tooltip" interactor="point">
				<context metaclass="Standard.ExpansionNode" dependency="ExpansionRegion.InputElement" />
			</creationtool>
			<creationtool id="CREATE_EXPANSIONNODE_OUTPUT" label="%ExpansionNodeOutput.label" tooltip="%ExpansionNodeOutput.tooltip" interactor="point" icon="icons/expansionnodeoutput.png">
				<context metaclass="Standard.ExpansionNode" dependency="ExpansionRegion.OutputElement" />
			</creationtool>
			<creationtool id="CREATE_EXPANSIONREGION" label="%ExpansionRegion.label" tooltip="%ExpansionRegion.tooltip" interactor="node">
				<context metaclass="Standard.ExpansionRegion"  />
			</creationtool>
			<creationtool id="CREATE_FLOWFINALNODE" label="%FlowFinalNode.label" tooltip="%FlowFinalNode.tooltip" interactor="point">
				<context metaclass="Standard.FlowFinalNode"  />
			</creationtool>
			<creationtool id="CREATE_FORKJOINNODE" label="%ForkJoinNode.label" tooltip="%ForkJoinNode.tooltip" interactor="point">
				<context metaclass="Standard.ForkJoinNode"  />
			</creationtool>
			<creationtool id="CREATE_INITIALNODE" label="%InitialNode.label" tooltip="%InitialNode.tooltip" interactor="point">
				<context metaclass="Standard.InitialNode"  />
			</creationtool>
			<creationtool id="CREATE_INPUTPIN" label="%InputPin.label" tooltip="%InputPin.tooltip" interactor="point">
				<context metaclass="Standard.InputPin" dependency="ActivityAction.Input" />
			</creationtool>
			<creationtool id="CREATE_INSTANCENODE" label="%InstanceNode.label" tooltip="%InstanceNode.tooltip" interactor="node">
				<context metaclass="Standard.InstanceNode"  >
					<property name="complete" value="1"/>
				</context>
			</creationtool>
			<creationtool id="CREATE_INTERRUPTIBLEACTIVITYREGION" label="%InterruptibleActivityRegion.label" tooltip="%InterruptibleActivityRegion.tooltip" interactor="node">
				<context metaclass="Standard.InterruptibleActivityRegion"  />
			</creationtool>
			<creationtool id="CREATE_LOOPNODE" label="%LoopNode.label" tooltip="%LoopNode.tooltip" interactor="node">
				<context metaclass="Standard.LoopNode"  />
			</creationtool>
			<creationtool id="CREATE_OBJECTFLOW" label="%ObjectFlow.label" tooltip="%ObjectFlow.tooltip" interactor="link">
				<context metaclass="Standard.ObjectFlow" router="OBJECTFLOW_ROUTINGMODE" />
			</creationtool>
			<creationtool
	                icon="icons/activityedge.png"
	                id="CREATE_SMARTFLOW"
	                interactor="link"
	                label="%SmartFlow.label"
	                tooltip="%SmartFlow.tooltip">
				<context metaclass="Standard.ObjectFlow" router="OBJECTFLOW_ROUTINGMODE">
					<property name="smart" value="true" />
				</context>
			</creationtool>
			<creationtool id="CREATE_OPAQUEACTION" label="%OpaqueAction.label" tooltip="%OpaqueAction.tooltip" interactor="node">
				<context metaclass="Standard.OpaqueAction"  />
			</creationtool>
			<creationtool id="CREATE_OUTPUTPIN" label="%OutputPin.label" tooltip="%OutputPin.tooltip" interactor="point">
				<context metaclass="Standard.OutputPin" dependency="ActivityAction.Output" />
			</creationtool>
			<creationtool id="CREATE_SENDSIGNALACTION" label="%SendSignalAction.label" tooltip="%SendSignalAction.tooltip" interactor="node">
				<context metaclass="Standard.SendSignalAction"  />
			</creationtool>
			<creationtool id="CREATE_STRUCTUREDNODE" label="%StructuredNode.label" tooltip="%StructuredNode.tooltip" interactor="node">
				<context metaclass="Standard.StructuredActivityNode"  />
			</creationtool>
			<creationtool id="CREATE_VALUEPIN" label="%ValuePin.label" tooltip="%ValuePin.tooltip" interactor="point">
				<context metaclass="Standard.ValuePin" dependency="ActivityAction.Input" />
			</creationtool>
		</tools>
	</extension>

	<extension point="org.modelio.platform.model.view.template">
		<viewtemplate id="ActivityDiagramTemplate" class="org.modelio.uml.activitydiagram.editor.contributor.ActivityDiagramTemplate"/>
	</extension>

	<extension point="org.modelio.app.creation.wizard.contributor">
		<wizard
				categoryId = "%ContributorCategoryType.UML"
				categoryLabel = "%ContributorCategoryLabel.UML"
				categoryIcon = "./icons/uml.png"
				class="org.modelio.uml.activitydiagram.editor.contributor.ActivityDiagramCreationContributor"
				label = "%CreationWizard.Activity.Name"
				details = "%CreationWizard.Activity.Details"
				information = "%CreationWizard.Activity.Information"
				helpUrl = "HELP_URL"
				previewImage = "images/activitydiagrampreview400x300.png"
				modelViewTemplateId = "ActivityDiagramTemplate">
		</wizard>
	</extension>

    <extension name="Activity drop extension" point="org.modelio.app.diagram.editor.droppolicy.extensions">
    	<droppolicyextension class="org.modelio.uml.activitydiagram.editor.elements.activitydiagram.ActivityDiagramDropEditPolicyExtension">
    		<scope editorId="org.modelio.uml.activitydiagram.editor.ActivityDiagramEditorID"/>
    	</droppolicyextension>
    </extension>

    <extension point="org.modelio.app.diagram.editor.palette">
       <palette id="org.modelio.uml.activitydiagram.editor.ActivityDiagramEditorID">
          <palette_group collapsible="false" label="main">
             <selection_tool default="true"/>
             <marquee_tool/>
             <universal_link_tool/>
          </palette_group>
          <palette_group label="%ActivityPaletteGroup.Control" initialState="open">
             <creation_tool id="CREATE_OPAQUEACTION"/>
             <creation_tool id="CREATE_CALLBEHAVIORACTION"/>
             <creation_tool id="CREATE_CALLOPERATIONACTION"/>
             <creation_tool id="CREATE_CONDITIONALNODE"/>
             <creation_tool id="CREATE_CLAUSE"/>
             <creation_tool id="CREATE_LOOPNODE"/>
             <creation_tool id="CREATE_STRUCTUREDNODE"/>
             <creation_tool id="CREATE_EXPANSIONREGION"/>
             <creation_tool id="CREATE_INITIALNODE"/>
             <creation_tool id="CREATE_ACTIVITYFINALNODE"/>
             <creation_tool id="CREATE_FLOWFINALNODE"/>
             <creation_tool id="CREATE_FORKJOINNODE"/>
             <creation_tool id="CREATE_DECISIONMERGENODE"/>
             <creation_tool id="CREATE_INTERRUPTIBLEACTIVITYREGION"/>
          </palette_group>
          <palette_group label="%ActivityPaletteGroup.Event">
             <creation_tool id="CREATE_SENDSIGNALACTION"/>
             <creation_tool id="CREATE_ACCEPTCALLEVENTACTION"/>
             <creation_tool id="CREATE_ACCEPTCHANGEEVENTACTION"/>
             <creation_tool id="CREATE_ACCEPTSIGNALACTION"/>
             <creation_tool id="CREATE_ACCEPTTIMEEVENTACTION"/>
          </palette_group>
          <palette_group label="%ActivityPaletteGroup.Data">
             <creation_tool id="CREATE_INSTANCENODE"/>
             <creation_tool id="CREATE_DATASTORENODE"/>
             <creation_tool id="CREATE_CENTRALBUFFERNODE"/>
             <creation_tool id="CREATE_ACTIVITYPARAMETERNODE"/>
             <creation_tool id="CREATE_INPUTPIN"/>
             <creation_tool id="CREATE_OUTPUTPIN"/>
             <creation_tool id="CREATE_VALUEPIN"/>
             <creation_tool id="CREATE_EXPANSIONNODE_INPUT"/>
             <creation_tool id="CREATE_EXPANSIONNODE_OUTPUT"/>
          </palette_group>
          <palette_group label="%ActivityPaletteGroup.Flow">
             <creation_tool id="CREATE_SMARTFLOW"/>
             <creation_tool id="CREATE_CONTROLFLOW"/>
             <creation_tool id="CREATE_OBJECTFLOW"/>
             <creation_tool id="CREATE_EXCEPTIONHANDLER"/>
          </palette_group>
          <palette_group label="%ActivityPaletteGroup.Partition">
             <creation_tool id="CREATE_ACTIVITYPARTITION_VERTICAL_CONTAINER"/>
             <creation_tool id="CREATE_ACTIVITYPARTITION_HORIZONTAL_CONTAINER"/>
             <creation_tool id="CREATE_ACTIVITYPARTITION_SIBLING"/>
             <creation_tool id="CREATE_ACTIVITYPARTITION_INNER"/>
          </palette_group>
          <palette_group label="%ActivityPaletteGroup.InformationFlow">
             <creation_tool id="CREATE_INFORMATIONFLOW"/>
             <creation_tool id="CREATE_INFORMATIONFLOWNODE"/>
          </palette_group>
          <palette_group label="%ActivityPaletteGroup.Common">
             <creation_tool id="CREATE_NOTE"/>
             <creation_tool id="CREATE_CONSTRAINT"/>
             <creation_tool id="CREATE_EXTERNDOCUMENT"/>
             <creation_tool id="CREATE_DEPENDENCY"/>
             <creation_tool id="CREATE_TRACEABILITY"/>
             <creation_tool id="CREATE_RELATED_DIAGRAM_LINK"/>
          </palette_group>
          <palette_group label="%ActivityPaletteGroup.Drawings">
             <creation_tool id="CREATE_DRAWING_LINE"/>
             <creation_tool id="CREATE_DRAWING_TEXT"/>
             <creation_tool id="CREATE_DRAWING_ELLIPSE"/>
             <creation_tool id="CREATE_DRAWING_RECTANGLE"/>
          </palette_group>
       </palette>
    </extension>
</plugin>
