<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension id="diagram.communication" point="org.eclipse.e4.workbench.model">
      <fragment uri="e4model/diagram_communication_editor.e4xmi"/>
      <processor beforefragment="true" class="org.modelio.uml.communicationdiagram.editor.plugin.CommunicationProcessor"/>
   </extension>

   <extension point="org.modelio.app.diagram.editor.inputprovider">
      <inputprovider class="org.modelio.uml.communicationdiagram.editor.editor.CommunicationDiagramEditorInputProvider"/>
   </extension>

	<extension point="org.modelio.app.diagram.editor.toolregistry">
		<tools>
			<creationtool id="CREATE_COMMUNICATIONNODE" interactor="node" label="%CommunicationNode.label" tooltip="%CommunicationNode.tooltip">
				<context metaclass="Standard.CommunicationNode"/>
			</creationtool>
			<creationtool id="CREATE_COMMUNICATIONCHANNEL" interactor="link" label="%CommunicationChannel.label" tooltip="%CommunicationChannel.tooltip">
				<context metaclass="Standard.CommunicationChannel" router="COMMUNICATIONCHANNEL_ROUTINGMODE"/>
			</creationtool>
			<creationtool id="CREATE_COMMUNICATIONMESSAGE" interactor="node" label="%CommunicationMessage.label" tooltip="%CommunicationMessage.tooltip">
				<context metaclass="Standard.CommunicationMessage"/>
			</creationtool>
		</tools>
	</extension>

	<extension point="org.modelio.platform.model.view.template">
		<viewtemplate id="CommunicationDiagramTemplate" class="org.modelio.uml.communicationdiagram.editor.contributor.CommunicationDiagramTemplate"/>
	</extension>

   	<extension point="org.modelio.app.creation.wizard.contributor">
		<wizard
				categoryId = "%ContributorCategoryType.UML"
				categoryLabel = "%ContributorCategoryLabel.UML"
				categoryIcon = "./icons/uml.png"
				class="org.modelio.uml.communicationdiagram.editor.contributor.CommunicationDiagramCreationContributor"
				label = "%CreationWizard.Communication.Name"
				icon = "./icons/uml.png"
				details = "%CreationWizard.Communication.Details"
				information = "%CreationWizard.Communication.Information"
				helpUrl = "HELP_URL"
				previewImage = "images/communicationdiagrampreview400x300.png"
				modelViewTemplateId = "CommunicationDiagramTemplate">
		</wizard>
	</extension>

    <extension name="Communication drop extension" point="org.modelio.app.diagram.editor.droppolicy.extensions">
    	<droppolicyextension class="org.modelio.uml.communicationdiagram.editor.elements.communicationdiagram.CommunicationDiagramDropEditPolicyExtension">
    		<scope editorId="org.modelio.uml.communicationdiagram.editor.CommunicationDiagramEditorID"/>
    	</droppolicyextension>
    </extension>

    <extension
          point="org.modelio.app.diagram.editor.palette">
       <palette
             id="org.modelio.uml.communicationdiagram.editor.CommunicationDiagramEditorID">
          <palette_group
                collapsible="false"
                label="main">
             <selection_tool default="true"/>
             <marquee_tool/>
             <universal_link_tool/>
          </palette_group>
          <palette_group label="%CommunicationPaletteGroup.Nodes" initialState="open">
             <creation_tool id="CREATE_COMMUNICATIONNODE"/>
             <creation_tool id="CREATE_COMMUNICATIONMESSAGE"/>
          </palette_group>
          <palette_group label="%CommunicationPaletteGroup.Links" initialState="open">
             <creation_tool id="CREATE_COMMUNICATIONCHANNEL"/>
          </palette_group>
          <palette_group label="%CommunicationPaletteGroup.InformationFlow">
             <creation_tool id="CREATE_INFORMATIONFLOW"/>
             <creation_tool id="CREATE_INFORMATIONFLOWNODE"/>
          </palette_group>
          <palette_group label="%CommunicationPaletteGroup.Common">
             <creation_tool id="CREATE_NOTE"/>
             <creation_tool id="CREATE_CONSTRAINT"/>
             <creation_tool id="CREATE_EXTERNDOCUMENT"/>
             <creation_tool id="CREATE_DEPENDENCY"/>
             <creation_tool id="CREATE_TRACEABILITY"/>
             <creation_tool id="CREATE_RELATED_DIAGRAM_LINK"/>
          </palette_group>
          <palette_group label="%CommunicationPaletteGroup.Drawings">
	        <creation_tool id="CREATE_DRAWING_TEXT"/>
			<creation_tool id="CREATE_DRAWING_NOTE"/>
			<creation_tool id="CREATE_DRAWING_IMAGE"/>
			<creation_tool id="CREATE_DRAWING_RECTANGLE"/>
	        <creation_tool id="CREATE_DRAWING_ELLIPSE"/>
	        <creation_tool id="CREATE_DRAWING_LINE"/>
          </palette_group>
       </palette>
    </extension>

</plugin>
