<configuration debug="true">
	<!-- property name="MODELIO_VERSION_SUBDIR" value= ??? Value is set programmatically in Utils.java / -->

	<appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<rollingPolicy	class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- daily rollover -->
			<FileNamePattern>${user.home}/.modelio/${MODELIO_VERSION_SUBDIR}/modelio-%d{yyyy-MM-dd}-%i.log</FileNamePattern>

			<!-- each file should be at most 50MB, keep 20 days worth of history, but at most 1GB -->
			<maxFileSize>50MB</maxFileSize>
			<maxHistory>20</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>

		</rollingPolicy>

		<encoder>
			<pattern>%date{ISO8601} %-5.5level %-32.32logger{32} %message%n%ex{full}</pattern>
		</encoder>

	</appender>

	<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder	by default -->
	<!-- see https://logback.qos.ch/manual/layouts.html#ClassicPatternLayout for pattern -->
	<!-- appender with ANSI coloring -->
	<!--
	<appender name="STDOUT-COLOR"	class="ch.qos.logback.core.ConsoleAppender">
		<withJansi>true</withJansi>
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} %highlight(%-5.5level) %-32.32logger{32} %message%n%ex{full}</pattern>
		</encoder>
	</appender>
	 -->

	<appender name="STDOUT"	class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder	by default -->
		<!-- see https://logback.qos.ch/manual/layouts.html#ClassicPatternLayout for pattern -->
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} %-5.5level %-32.32logger{32} %message%n%ex{full}</pattern>
		</encoder>
	</appender>

	<root level="TRACE">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="LOGFILE" />
	</root>

</configuration>
