<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.modelio.app.audit.extensions" name="Audit plan provider" schema="schema/org.modelio.app.audit.extensions.exsd"/>

   <extension id="audit" point="org.eclipse.e4.workbench.model">
      <processor beforefragment="false" class="org.modelio.audit.service.impl.AuditServiceInitializer"/>
      <fragment uri="e4model/auditui.e4xmi"/>
   </extension>

   <extension point="org.modelio.app.edition.dialogs.panels">
      <panel class="org.modelio.audit.checker.CheckerPanelProvider"
             id="audit.panel"
             label="%Audit">
      </panel>
   </extension>

   <extension point="org.modelio.app.audit.extensions">
      <audit clazz="org.modelio.audit.infrastructure.InfrastructureAuditExtension"/>
   </extension>

	<extension point="org.modelio.app.project.conf.page">
   		<confpage
			label="%AuditTab.label"
			name="AUDIT"
			page="org.modelio.audit.projectconf.AuditPage" >
		</confpage>
	</extension>
</plugin>
