<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension id="diagram.sequence" point="org.eclipse.e4.workbench.model">
    <fragment uri="e4model/diagram_sequence_editor.e4xmi"/>
    <processor beforefragment="true" class="org.modelio.uml.sequencediagram.editor.plugin.SequenceProcessor"/>
  </extension>

  <extension point="org.modelio.app.diagram.editor.inputprovider">
    <inputprovider class="org.modelio.uml.sequencediagram.editor.editor.SequenceDiagramEditorInputProvider"/>
  </extension>

  <extension point="org.modelio.app.diagram.editor.toolregistry">
  	<tools>
	    <creationtool id="CREATE_LIFELINE" interactor="point" label="%Lifeline.label" tooltip="%Lifeline.tooltip">
	      <context metaclass="Standard.Lifeline"/>
	    </creationtool>
	    <creationtool id="CREATE_PARTDECOMPOSITION" interactor="point" label="%Partdecomposition.label" tooltip="%Partdecomposition.tooltip">
	      <context metaclass="Standard.PartDecomposition"/>
	    </creationtool>
	    <creationtool id="CREATE_EXECUTIONSPECIFICATION" interactor="node" label="%ExecutionSpecification.label" tooltip="%ExecutionSpecification.tooltip">
	      <context metaclass="Standard.ExecutionSpecification"/>
	    </creationtool>
	    <creationtool icon="icons/messagecreate.png" id="CREATE_CREATIONMESSAGE" interactor="link" label="%CreationMessage.label" tooltip="%CreationMessage.tooltip">
	      <context metaclass="Standard.Message">
	        <property name="messageType" value="Creation"/>
	      </context>
	    </creationtool>
	    <creationtool icon="icons/messagedestroy.png" id="CREATE_DESTRUCTIONMESSAGE" interactor="link" label="%DestructionMessage.label" tooltip="%DestructionMessage.tooltip">
	      <context metaclass="Standard.Message">
	        <property name="messageType" value="Destruction"/>
	      </context>
	    </creationtool>
	    <creationtool icon="icons/messageasynchronous.png" id="CREATE_ASYNCHRONOUSMESSAGE" interactor="link" label="%AsynchronousMessage.label" tooltip="%AsynchronousMessage.tooltip">
	      <context metaclass="Standard.Message">
	        <property name="messageType" value="SimpleAsynchronous"/>
	      </context>
	    </creationtool>
	    <creationtool icon="icons/messagesynchronous.png" id="CREATE_SYNCHRONOUSMESSAGE" interactor="link" label="%SynchronousMessage.label" tooltip="%SynchronousMessage.tooltip">
	      <context metaclass="Standard.Message">
	        <property name="messageType" value="SimpleSynchronous"/>
	      </context>
	    </creationtool>
	    <creationtool icon="icons/messageasynchronous.png" id="CREATE_ASYNCHRONOUSMESSAGE_INNEREXECUTION" interactor="link" label="%AsynchronousMessageWithInner.label" tooltip="%AsynchronousMessageWithInner.tooltip">
	      <context metaclass="Standard.Message">
	        <property name="messageType" value="InnerExecutionAsynchronous"/>
	      </context>
	    </creationtool>
	    <creationtool icon="icons/messagesynchronous.png" id="CREATE_SYNCHRONOUSMESSAGE_INNEREXECUTION" interactor="link" label="%SynchronousMessageWithInner.label" tooltip="%SynchronousMessageWithInner.tooltip">
	      <context metaclass="Standard.Message">
	          <property name="messageType" value="InnerExecutionSynchronous"/>
	      </context>
	    </creationtool>
	    <creationtool icon="icons/messagereply.png" id="CREATE_REPLY" interactor="link" label="%Reply.label" tooltip="%Reply.tooltip">
	      <context metaclass="Standard.Message">
	        <property name="messageType" value="Reply"/>
	      </context>
	    </creationtool>
	    <creationtool id="CREATE_INTERACTIONUSE" interactor="node" label="%InteractionUse.label" tooltip="%InteractionUse.tooltip">
	      <context metaclass="Standard.InteractionUse"/>
	    </creationtool>
	    <creationtool id="CREATE_GATE" interactor="node" label="%Gate.label" tooltip="%Gate.tooltip">
	      <context metaclass="Standard.Gate"/>
	    </creationtool>
	    <creationtool id="CREATE_COMBINEDFRAGMENT" interactor="node" label="%CombinedFragment.label" tooltip="%CombinedFragment.tooltip">
	      <context metaclass="Standard.CombinedFragment"/>
	    </creationtool>
	    <creationtool id="CREATE_INTERACTIONOPERAND" interactor="point" label="%InteractionOperand.label" tooltip="%InteractionOperand.tooltip">
	      <context metaclass="Standard.InteractionOperand"/>
	    </creationtool>
	    <creationtool id="CREATE_STATEINVARIANT" interactor="node" label="%StateInvariant.label" tooltip="%StateInvariant.tooltip">
	      <context metaclass="Standard.StateInvariant"/>
	    </creationtool>
    </tools>
  </extension>


<extension point="org.modelio.platform.model.view.template">
		<viewtemplate id="SequenceDiagramTemplate" class="org.modelio.uml.sequencediagram.editor.contributor.SequenceDiagramTemplate"/>
	</extension>
  <extension point="org.modelio.app.creation.wizard.contributor">
    <wizard class="org.modelio.uml.sequencediagram.editor.contributor.SequenceDiagramCreationContributor"
    		modelViewTemplateId = "SequenceDiagramTemplate"
    		categoryId = "%ContributorCategoryType.UML"
			categoryLabel = "%ContributorCategoryLabel.UML"
			categoryIcon = "./icons/uml.png"
			label = "%CreationWizard.Sequence.Name"
			details = "%CreationWizard.Sequence.Details"
			information = "%CreationWizard.Sequence.Information"
			helpUrl = "HELP_URL"
			previewImage = "images/sequencediagrampreview400x300.png">
    </wizard>
  </extension>

  <extension name="Sequence drop extension" point="org.modelio.app.diagram.editor.droppolicy.extensions">
    <droppolicyextension class="org.modelio.uml.sequencediagram.editor.elements.sequencediagram.SequenceDiagramDropEditPolicyExtension">
      <scope editorId="org.modelio.uml.sequencediagram.editor.SequenceDiagramEditorID"/>
    </droppolicyextension>
  </extension>

    <extension
          point="org.modelio.app.diagram.editor.palette">
       <palette
             id="org.modelio.uml.sequencediagram.editor.SequenceDiagramEditorID">
          <palette_group
                collapsible="false"
                label="main">
             <selection_tool default="true"/>
             <marquee_tool/>
             <universal_link_tool/>
          </palette_group>
          <palette_group label="%SequencePaletteGroup.Nodes" initialState="open">
             <creation_tool id="CREATE_LIFELINE"/>
             <creation_tool id="CREATE_PARTDECOMPOSITION"/>
             <creation_tool id="CREATE_EXECUTIONSPECIFICATION"/>
             <creation_tool id="CREATE_INTERACTIONUSE"/>
             <creation_tool id="CREATE_GATE"/>
             <creation_tool id="CREATE_COMBINEDFRAGMENT"/>
             <creation_tool id="CREATE_INTERACTIONOPERAND"/>
             <creation_tool id="CREATE_STATEINVARIANT"/>
          </palette_group>
          <palette_group label="%SequencePaletteGroup.Links" initialState="open">
             <creation_tool id="CREATE_SYNCHRONOUSMESSAGE"/>
             <creation_tool id="CREATE_SYNCHRONOUSMESSAGE_INNEREXECUTION"/>
             <creation_tool id="CREATE_CREATIONMESSAGE"/>
             <creation_tool id="CREATE_DESTRUCTIONMESSAGE"/>
             <creation_tool id="CREATE_ASYNCHRONOUSMESSAGE"/>
             <creation_tool id="CREATE_ASYNCHRONOUSMESSAGE_INNEREXECUTION"/>
             <creation_tool id="CREATE_REPLY"/>
          </palette_group>
          <palette_group label="%SequencePaletteGroup.InformationFlow" >
             <creation_tool id="CREATE_INFORMATIONFLOW"/>
             <creation_tool id="CREATE_INFORMATIONFLOWNODE"/>
          </palette_group>
          <palette_group label="%SequencePaletteGroup.Common" initialState="open">
             <creation_tool id="CREATE_NOTE"/>
             <creation_tool id="CREATE_CONSTRAINT"/>
             <creation_tool id="CREATE_EXTERNDOCUMENT"/>
             <creation_tool id="CREATE_DEPENDENCY"/>
             <creation_tool id="CREATE_TRACEABILITY"/>
             <creation_tool id="CREATE_RELATED_DIAGRAM_LINK"/>
          </palette_group>
          <palette_group label="%SequencePaletteGroup.Drawings">
             <creation_tool id="CREATE_DRAWING_LINE"/>
             <creation_tool id="CREATE_DRAWING_TEXT"/>
             <creation_tool id="CREATE_DRAWING_ELLIPSE"/>
             <creation_tool id="CREATE_DRAWING_RECTANGLE"/>
          </palette_group>
       </palette>
    </extension>


</plugin>
