<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.e4.workbench.model" id="modelContribution">
	<fragment uri="e4model/diagramauto.e4xmi"/>
</extension>

<extension point="org.eclipse.core.expressions.definitions">
	<definition id="diagram.auto.test.updatediagram.id">
		<test property="diagram.auto.test.updatediagram"/>
	</definition>
 </extension>

 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="org.modelio.diagram.diagramauto.handlers.properties.CommandVisiblePropertyTester"
          id="diagram.auto.propertyTester.updatevisible"
          namespace="diagram.auto.test"
          properties="updatediagram"
          type="org.eclipse.jface.viewers.ISelection">
    </propertyTester>
 </extension>

	<extension point="org.modelio.creation.wizard.contributor">
		<creation
				categoryType = "%ContributorCategoryType.UML"
				categoryLabel = "%ContributorCategoryLabel.UML"
				categoryIcon = "./icons/uml.png"
				contributor="org.modelio.diagram.diagramauto.handlers.ClassArchitectureDiagram">
		</creation>
		<creation
				categoryType = "%ContributorCategoryType.UML"
				categoryLabel = "%ContributorCategoryLabel.UML"
				categoryIcon = "./icons/uml.png"
				contributor="org.modelio.diagram.diagramauto.handlers.ClassStructureDiagram">
		</creation>
		<creation
				categoryType = "%ContributorCategoryType.UML"
				categoryLabel = "%ContributorCategoryLabel.UML"
				categoryIcon = "./icons/uml.png"
				contributor="org.modelio.diagram.diagramauto.handlers.DependencyDiagram">
		</creation>
		<creation
				categoryType = "%ContributorCategoryType.UML"
				categoryLabel = "%ContributorCategoryLabel.UML"
				categoryIcon = "./icons/uml.png"
				contributor="org.modelio.diagram.diagramauto.handlers.InheritanceDiagram">
		</creation>
		<creation
				categoryType = "%ContributorCategoryType.UML"
				categoryLabel = "%ContributorCategoryLabel.UML"
				categoryIcon = "./icons/uml.png"
				contributor="org.modelio.diagram.diagramauto.handlers.PackageStructureDiagram">
		</creation>
		<creation
				categoryType = "%ContributorCategoryType.UML"
				categoryLabel = "%ContributorCategoryLabel.UML"
				categoryIcon = "./icons/uml.png"
				contributor="org.modelio.diagram.diagramauto.handlers.SubPackageStructureDiagram">
		</creation>
	</extension>
</plugin>
