<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.modelio.app.metamodel.browser.labelprovider" name="Metamodel browser label provider" schema="schema/org.modelio.app.metamodel.browser.labelprovider.exsd"/>
   <extension-point id="org.modelio.app.metamodel.element.image" name="Metamodel element image service" schema="schema/org.modelio.app.metamodel.element.image.exsd"/>
   <extension-point id="org.modelio.app.metamodel.mclass.image" name="Metamodel metaclass image service" schema="schema/org.modelio.app.metamodel.mclass.image.exsd"/>
   <extension-point id="org.modelio.core.ui.nattable.viewer.model.IPropertyTableConfigurationProvider" name="Property NAT table extensions" schema="schema/org.modelio.core.ui.nattable.viewer.model.IPropertyTableConfigurationProvider.exsd"/>
   
   <extension point="org.modelio.app.metamodel.element.image">
      <service metamodel="Infrastructure" implementation="org.modelio.core.ui.swt.images.InfrastructureElementImageProvider" />
   </extension>
   
   <extension point="org.modelio.app.metamodel.mclass.image">
      <service metamodel="Infrastructure" implementation="org.modelio.core.ui.swt.images.InfrastructureElementImageProvider" />
   </extension>
</plugin>
