<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension-point id="org.modelio.model.browser.view.panelprovider" name="Browser view panel" schema="schema/org.modelio.model.browser.view.panelprovider.exsd"/>

  <extension-point id="org.modelio.model.browser.view.contentprovider" name="Metamodel browser content provider" schema="schema/org.modelio.model.browser.view.contentprovider.exsd"/>

  <extension id="browser.view.fragment" point="org.eclipse.e4.workbench.model">
    <fragment uri="e4model/browserview.e4xmi"/>
    <processor beforefragment="false" class="org.modelio.model.browser.view.plugin.Initializer"/>
    <processor beforefragment="false" class="org.modelio.model.browser.view.context.ModuleCommandsForModelBrowser" />
  </extension>

  <extension point="org.eclipse.core.expressions.definitions">
    <definition id="model.browser.test.createstereotype.id">
      <test property="model.browser.test.createstereotype"/>
    </definition>
    <definition id="model.browser.test.editstereotype.id">
      <test property="model.browser.test.editstereotype"/>
    </definition>
    <definition id="model.browser.expression.fragmentNeedMigration">
      <with variable="org.eclipse.ui.selection">
        <iterate ifEmpty="false" operator="and">
          <adapt type="org.modelio.gproject.fragment.IProjectFragment">
            <test property="model.browser.fragment.needMigration" />
          </adapt>
        </iterate>
      </with>
    </definition>
  </extension>

  <extension point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
    	class="org.modelio.model.browser.view.handlers.properties.CommandVisiblePropertyTester"
	    id="model.browser.propertyTester.updatevisible"
	    namespace="model.browser.test"
	    properties="createstereotype, editstereotype"
	    type="org.eclipse.jface.viewers.ISelection" />
    <propertyTester
    	class="org.modelio.model.browser.view.handlers.properties.FragmentPropertyTester"
    	id="model.browser.propertyTester.fragment"
    	namespace="model.browser.fragment"
    	properties="name,id,downError,needMigration,state,isUp,isDown,type,scope,property"
    	type="org.modelio.gproject.fragment.IProjectFragment" />
  </extension>

  <extension point="org.modelio.model.browser.view.contentprovider">
     <service implementation="org.modelio.model.browser.view.content.InfrastructureContentProvider" metamodel="Infrastructure" />
  </extension>
</plugin>
