<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension id="diagram.statik" point="org.eclipse.e4.workbench.model">
      <fragment uri="e4model/diagram_statik_editor.e4xmi"/>
      <processor beforefragment="true" class="org.modelio.diagram.editor.statik.plugin.StaticProcessor"/>
   </extension>

    <extension point="org.modelio.diagram.editor.inputprovider">
      <inputprovider class="org.modelio.diagram.editor.statik.editor.StaticDiagramEditorInputProvider"/>
   </extension>

    <extension point="org.eclipse.core.expressions.definitions">
		<definition id="diagram.editor.statik.test.redrawlink.id">
			<test property="diagram.editor.statik.test.redrawlink"/>
		</definition>
		<definition id="diagram.editor.statik.test.iscompositionlink.id">
			<test property="diagram.editor.statik.test.iscompositionlink"/>
		</definition>
  <definition
        id="diagram.editor.statik.expr.showunmaskmenu">
     <and>
        <test
              property="diagram.editor.statik.test.iscompositionlink">
        </test>
        <reference
              definitionId="org.modelio.diagram.editor.corexp.has-gmmodel.id">
        </reference>
     </and>
  </definition>
	</extension>

	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			class="org.modelio.diagram.editor.statik.elements.namespacinglink.redraw.RedrawLinkCommandPropertyTester"
			id="diagram.editor.statik.redrawlink.propertyTester.updatevisible"
			namespace="diagram.editor.statik.test"
			properties="redrawlink"
			type="org.eclipse.jface.viewers.ISelection">
		</propertyTester>
		<propertyTester
			class="org.modelio.diagram.editor.statik.corexp.CompositionLinkTester"
			id="diagram.editor.statik.iscompositionlink.propertyTester.updatevisible"
			namespace="diagram.editor.statik.test"
			properties="iscompositionlink"
			type="org.eclipse.jface.viewers.ISelection">
		</propertyTester>
	</extension>

    <extension point="org.modelio.diagram.editor.toolregistry">
    	<tools>
			<creationtool id="CREATE_ATTRIBUTE" label="%Attribute.label" tooltip="%Attribute.tooltip" interactor="point">
				<context metaclass="Standard.Attribute" />
			</creationtool>
	        <creationtool id="CREATE_CLASS" label="%Class.label" tooltip="%Class.tooltip" interactor="node">
				<context metaclass="Standard.Class" />
			</creationtool>
			<creationtool id="CREATE_OPERATION" label="%Operation.label" tooltip="%Operation.tooltip" interactor="node">
				<context metaclass="Standard.Operation" />
			</creationtool>
			<creationtool id="CREATE_CONSTRUCTOR" label="%Constructor.label" tooltip="%Constructor.tooltip" interactor="point">
				<context metaclass="Standard.Operation" stereotype="create"/>
			</creationtool>
			<creationtool id="CREATE_SIGNAL" label="%Signal.label" tooltip="%Signal.tooltip" interactor="node">
				<context metaclass="Standard.Signal"/>
			</creationtool>
			<creationtool id="CREATE_PORT" label="%Port.label" tooltip="%Port.tooltip" interactor="point">
				<context metaclass="Standard.Port"/>
			</creationtool>
			<creationtool id="CREATE_COLLABORATION" label="%Collaboration.label" tooltip="%Collaboration.tooltip" interactor="node">
				<context metaclass="Standard.Collaboration" />
			</creationtool>
			<creationtool id="CREATE_COLLABORATIONUSE" label="%CollaborationUse.label" tooltip="%CollaborationUse.tooltip" interactor="node">
				<context metaclass="Standard.CollaborationUse" />
			</creationtool>
			<creationtool id="CREATE_COMPONENT" label="%Component.label" tooltip="%Component.tooltip" interactor="node">
				<context metaclass="Standard.Component" />
			</creationtool>
			<creationtool id="CREATE_DATATYPE" label="%Datatype.label" tooltip="%Datatype.tooltip" interactor="node">
				<context metaclass="Standard.DataType" />
			</creationtool>
			<creationtool id="CREATE_ENUMERATION" label="%Enumeration.label" tooltip="%Enumeration.tooltip" interactor="node">
				<context metaclass="Standard.Enumeration" />
			</creationtool>
			<creationtool id="CREATE_ENUMERATIONLITERAL" label="%EnumerationLiteral.label" tooltip="%EnumerationLiteral.tooltip" interactor="node">
				<context metaclass="Standard.EnumerationLiteral" />
			</creationtool>
			<creationtool id="CREATE_INFORMATIONITEM" label="%InformationItem.label" tooltip="%InformationItem.tooltip" interactor="point">
				<context metaclass="Standard.InformationItem" />
			</creationtool>
	        <creationtool id="CREATE_INFORMATIONFLOWNODE" label="%InformationFlowNode.label" tooltip="%InformationFlowNode.tooltip" interactor="point" icon="icons/realizedinformationflow.png">
	        <context metaclass="Standard.InformationFlow" />
			</creationtool>
			<creationtool id="CREATE_INSTANCE" label="%Instance.label" tooltip="%Instance.tooltip" interactor="node">
				<context metaclass="Standard.Instance" >
					<property name="smart" value="true"/>
				</context>
			</creationtool>
			<creationtool id="CREATE_BINDABLEINSTANCE" label="%BindableInstance.label" tooltip="%BindableInstance.tooltip" interactor="node">
				<context metaclass="Standard.BindableInstance" >
					<property name="smart" value="true"/>
			</context>
			</creationtool>
			<creationtool id="CREATE_ATTRIBUTELINK" label="%AttributeLink.label" tooltip="%AttributeLink.tooltip" interactor="node">
				<context metaclass="Standard.AttributeLink" />
			</creationtool>
			<creationtool id="CREATE_INTERFACE" label="%Interface.label" tooltip="%Interface.tooltip" interactor="node">
				<context metaclass="Standard.Interface" />
			</creationtool>
			<creationtool id="CREATE_PACKAGE" label="%Package.label" tooltip="%Package.tooltip" interactor="node">
				<context metaclass="Standard.Package" />
			</creationtool>
			<creationtool id="CREATE_IOPARAMETER" label="%IOParameter.label" tooltip="%IOParameter.tooltip" interactor="point">
				<context metaclass="Standard.Parameter" dependency="Operation.IO" />
			</creationtool>
			<creationtool id="CREATE_RETURN_PARAMETER" label="%ReturnParameter.label" tooltip="%ReturnParameter.tooltip" interactor="point">
				<context metaclass="Standard.Parameter" dependency="Operation.Return" />
			</creationtool>
			<creationtool id="CREATE_PROVIDED_INTERFACE" label="%ProvidedInterface.label" tooltip="%ProvidedInterface.tooltip" interactor="linkToVoid">
				<context metaclass="Standard.ProvidedInterface" router="PROVIDEDINTERFACE_CONNECTIONROUTER">
				</context>
			</creationtool>
			<creationtool id="CREATE_REQUIRED_INTERFACE" label="%RequiredInterface.label" tooltip="%RequiredInterface.tooltip" interactor="linkToVoid">
				<context metaclass="Standard.RequiredInterface" dependency="Port.Required" router="REQUIREDINTERFACE_CONNECTIONROUTER" >
				</context>
			</creationtool>
			<creationtool id="CREATE_COMPOSITION" label="%Composition.label" tooltip="%Composition.tooltip" interactor="link" icon="icons/composition.png" >
				<context metaclass="Standard.AssociationEnd" router="ASSOC_CONNECTIONROUTER">
					<property name="aggregation" value="KINDISCOMPOSITION"/>
				</context>
			</creationtool>
			<creationtool id="CREATE_AGGREGATION" label="%Aggregation.label" tooltip="%Aggregation.tooltip" interactor="link" icon="icons/aggregation.png">
				<context metaclass="Standard.AssociationEnd" router="ASSOC_CONNECTIONROUTER">
					<property name="aggregation" value="KINDISAGGREGATION"/>
				</context>
			</creationtool>
			<creationtool id="CREATE_ASSOCIATION" label="%Association.label" tooltip="%Association.tooltip" interactor="link">
				<context metaclass="Standard.AssociationEnd" router="ASSOC_CONNECTIONROUTER">
				</context>
			</creationtool>
			<creationtool id="CREATE_COLLABORATIONUSE_LINK" label="%CollaborationUse.label" tooltip="%CollaborationUse.tooltip" interactor="link">
				<context metaclass="Standard.CollaborationUse" router="COLLABORATIONUSELINK_CONNECTIONROUTER" />
			</creationtool>
			<creationtool id="CREATE_BINDING" label="%Binding.label" tooltip="%Binding.tooltip" interactor="link">
				<context metaclass="Standard.Binding" dependency="RoleBinding" router="BINDINGLINK_CONNECTIONROUTER">
				</context>
			</creationtool>
			<creationtool id="CREATE_CLASSASSOCIATION" label="%ClassAssociation.label" tooltip="%ClassAssociation.tooltip" interactor="link">
				<context metaclass="Standard.ClassAssociation" router="CLASSASSOC_CONNECTIONROUTER">
				</context>
			</creationtool>
			<creationtool id="CREATE_ELEMENTIMPORT" label="%ElementImport.label" tooltip="%ElementImport.tooltip" interactor="link">
				<context metaclass="Standard.ElementImport" router="IMPORT_CONNECTIONROUTER">
				</context>
			</creationtool>
			<creationtool id="CREATE_RAISEDEXCEPTION" label="%RaisedException.label" tooltip="%RaisedException.tooltip" interactor="link">
				<context metaclass="Standard.RaisedException" dependency="Operation.Thrown" router="RAISEDEXCEPTION_CONNECTIONROUTER">
				</context>
			</creationtool>
			<creationtool id="CREATE_INTERFACEREALIZATION" label="%InterfaceRealization.label" tooltip="%InterfaceRealization.tooltip" interactor="link">
				<context metaclass="Standard.InterfaceRealization" router="INTERFACEREALIZATION_CONNECTIONROUTER">
				</context>
			</creationtool>
			<creationtool id="CREATE_INFORMATIONFLOW" label="%InformationFlow.label" tooltip="%InformationFlow.tooltip" interactor="link">
				<context metaclass="Standard.InformationFlow" router="INFOFLOWLINK_CONNECTIONROUTER">
				</context>
			</creationtool>
			<creationtool id="CREATE_SMARTGENERALIZATION" label="%SmartGeneralization.label" tooltip="%SmartGeneralization.tooltip" interactor="link" icon="icons/smartgeneralization.png">
				<context metaclass="Standard.Generalization" router="GENZ_CONNECTIONROUTER">
					<property name="smart" value="true" />
					<property name="Generalization.router" value="GENZ_CONNECTIONROUTER" /> <!-- Not used (yet?) -->
					<property name="InterfaceRealization.router" value="INTERFACEREALIZATION_CONNECTIONROUTER" />  <!-- Not used (yet?) -->
				</context>
			</creationtool>
			<creationtool id="CREATE_GENERALIZATION" label="%Generalization.label" tooltip="%Generalization.tooltip" interactor="link">
				<context metaclass="Standard.Generalization" router="GENZ_CONNECTIONROUTER">
				</context>
			</creationtool>
			<creationtool id="CREATE_INSTANCELINK" label="%Link.label" tooltip="%Link.tooltip" interactor="link">
				<context metaclass="Standard.LinkEnd" router="INSTANCELINK_CONNECTIONROUTER">
				</context>
			</creationtool>
			<creationtool id="CREATE_DELEGATELINK" label="%DelegateLink.label" tooltip="%DelegateLink.tooltip" interactor="link" icon="icons/link.delegate.png">
				<context metaclass="Standard.ConnectorEnd" router="CONNECTOR_CONNECTIONROUTER">
	   			</context>
	  		</creationtool>
			<creationtool id="CREATE_CONNECTOR" label="%Connector.label" tooltip="%Connector.tooltip" interactor="link" icon="icons/connector.png">
	 			<context metaclass="Standard.ConnectorEnd" router="CONNECTOR_CONNECTIONROUTER">
	 			</context>
	 		</creationtool>
			<creationtool id="CREATE_NARY_ASSOCIATION" label="%NaryAssociation.label" tooltip="%NaryAssociation.tooltip" interactor="multipoint" icon="icons/naryassociation.png">
				<context metaclass="Standard.NaryAssociation" router="NASSOC_CONNECTIONROUTER">
				</context>
			</creationtool>
			<creationtool id="CREATE_NARY_INSTANCELINK" label="%NaryLink.label" tooltip="%NaryLink.tooltip" interactor="multipoint" icon="icons/narylink.png">
				<context metaclass="Standard.NaryLink"  router="NINSTANCELINK_CONNECTIONROUTER">
				</context>
			</creationtool>
			<creationtool id="CREATE_NARY_CONNECTOR" label="%NaryConnector.label" tooltip="%NaryConnector.tooltip" interactor="multipoint" icon="icons/narylink.png">
				<context metaclass="Standard.NaryConnector"  router="NCONNECTOR_CONNECTIONROUTER">
				</context>
			</creationtool>
			<creationtool id="CREATE_PACKAGEIMPORT" label="%PackageImport.label" tooltip="%PackageImport.tooltip" interactor="link">
				<context metaclass="Standard.PackageImport" router="PACKAGEIMPORT_CONNECTIONROUTER">
				</context>
			</creationtool>
			<creationtool id="CREATE_PACKAGEMERGE" label="%PackageMerge.label" tooltip="%PackageMerge.tooltip" interactor="link">
				<context metaclass="Standard.PackageMerge" dependency="Package.Merge" router="PACKAGEMERGE_CONNECTIONROUTER">
				</context>
			</creationtool>
			<creationtool id="CREATE_TRACEABILITY" label="%Traceability.label" tooltip="%Traceability.tooltip" interactor="link">
				<context metaclass="Infrastructure.Dependency" stereotype="trace" router="DEPENDENCY_ROUTINGMODE">
				</context>
			</creationtool>

			<!-- Dependency like links -->
			<creationtool id="CREATE_USE" label="%Use.label" tooltip="%Use.tooltip" interactor="link">
				<context metaclass="Standard.Usage" router="USAGE_ROUTINGMODE">
				</context>
			</creationtool>
			<creationtool id="CREATE_ABSTRACTION" label="%Abstraction.label" tooltip="%Abstraction.tooltip" interactor="link">
				<context metaclass="Standard.Abstraction" router="ABSTRACTION_ROUTINGMODE">
				</context>
			</creationtool>
			<creationtool id="CREATE_ELEMENTREALIZATION" label="%ElementRealization.label" tooltip="%ElementRealization.tooltip" interactor="link">
				<context metaclass="Standard.ElementRealization" router="DEPENDENCY_CONNECTIONROUTER">
				</context>
			</creationtool>
			<creationtool id="CREATE_COMPONENTREALIZATION" label="%ComponentRealization.label" tooltip="%ComponentRealization.tooltip" interactor="link">
				<context metaclass="Standard.ComponentRealization" router="DEPENDENCY_CONNECTIONROUTER">
				</context>
			</creationtool>
			<creationtool id="CREATE_SUBSTITUTION" label="%Substitution.label" tooltip="%Substitution.tooltip" interactor="link">
				<context metaclass="Standard.Substitution" router="SUBSTITUTION_ROUTINGMODE">
				</context>
			</creationtool>

	     	<creationtool id="CREATE_CONSTRAINT" label="%Constraint.label" tooltip="%Constraint.tooltip" interactor="multipoint" >
	         	<context metaclass="Standard.Constraint" dependency="ConstraintDefinition" />
	      	</creationtool>
			<creationtool id="CREATE_TEMPLATEPARAMETER" label="%TemplateParameter.label" tooltip="%TemplateParameter.tooltip" interactor="node">
				<context metaclass="Standard.TemplateParameter" dependency="NameSpace.Template" />
			</creationtool>

	 	    <creationtool id="CREATE_TEMPLATEBINDING"
					      interactor="link"
					      label="%TemplateBinding.label"
					      tooltip="%TemplateBinding.tooltip">
			    <context metaclass="Standard.TemplateBinding" router="TEMPLATEBINDING_CONNECTIONROUTER"/>
		    </creationtool>
	    </tools>
    </extension>

    <extension point="org.modelio.creation.wizard.contributor">
		<creation
				categoryType = "%ContributorCategoryType.UML"
				categoryLabel = "%ContributorCategoryLabel.UML"
				categoryIcon = "./icons/uml.png"
				contributor="org.modelio.diagram.editor.statik.contributor.ClassDiagramCreationContributor">
		</creation>
	</extension>
    <extension name="Standard drop extension" point="org.modelio.diagram.editor.droppolicy.extensions">
    	<droppolicyextension class="org.modelio.diagram.editor.statik.editor.StaticDiagramDropEditPolicyExtension">
    		<scope editorId="org.modelio.diagram.editor.statik.StatikDiagramEditorID"/>
    	</droppolicyextension>
    </extension>

    <extension
          point="org.modelio.diagram.editor.palette">
       <palette
             id="org.modelio.diagram.editor.statik.StatikDiagramEditorID">
          <palette_group
                collapsible="false"
                label="main">
             <selection_tool default="true"/>
             <marquee_tool/>
             <universal_link_tool/>
          </palette_group>
          <palette_group label="%StatikPaletteGroup.Class" initialState="open">
             <creation_tool id="CREATE_INTERFACE"/>
             <creation_tool id="CREATE_CLASS"/>
             <creation_tool id="CREATE_ATTRIBUTE"/>
             <creation_tool id="CREATE_OPERATION"/>
             <creation_tool id="CREATE_RAISEDEXCEPTION"/>
             <creation_tool id="CREATE_ASSOCIATION"/>
             <creation_tool id="CREATE_AGGREGATION"/>
             <creation_tool id="CREATE_COMPOSITION"/>
             <creation_tool id="CREATE_NARY_ASSOCIATION"/>
             <creation_tool id="CREATE_SMARTGENERALIZATION"/>
             <creation_tool id="CREATE_GENERALIZATION"/>
             <creation_tool id="CREATE_INTERFACEREALIZATION"/>
             <creation_tool id="CREATE_DATATYPE"/>
             <creation_tool id="CREATE_ENUMERATION"/>
             <creation_tool id="CREATE_ENUMERATIONLITERAL"/>
             <creation_tool id="CREATE_SIGNAL"/>
             <creation_tool id="CREATE_CLASSASSOCIATION"/>
             <creation_tool id="CREATE_TEMPLATEPARAMETER"/>
             <creation_tool id="CREATE_TEMPLATEBINDING"/>
             <creation_tool id="CREATE_COLLABORATION"/>
             <creation_tool id="CREATE_PACKAGE"/>
          </palette_group>
          <palette_group label="%StatikPaletteGroup.Component">
             <creation_tool id="CREATE_COMPONENT"/>
             <creation_tool id="CREATE_PORT"/>
             <creation_tool id="CREATE_PROVIDED_INTERFACE"/>
             <creation_tool id="CREATE_REQUIRED_INTERFACE"/>
             <creation_tool id="CREATE_COMPONENTREALIZATION"/>
          </palette_group>
          <palette_group label="%StatikPaletteGroup.Instance">
             <creation_tool id="CREATE_INSTANCE"/>
             <creation_tool id="CREATE_ATTRIBUTELINK"/>
             <creation_tool id="CREATE_COLLABORATIONUSE"/>
             <creation_tool id="CREATE_BINDING"/>
             <creation_tool id="CREATE_DELEGATELINK"/>
             <creation_tool id="CREATE_INSTANCELINK"/>
             <creation_tool id="CREATE_NARY_INSTANCELINK"/>
          </palette_group>
          <palette_group label="%StatikPaletteGroup.Import">
             <creation_tool id="CREATE_USE"/>
             <creation_tool id="CREATE_ELEMENTIMPORT"/>
             <creation_tool id="CREATE_PACKAGEIMPORT"/>
             <creation_tool id="CREATE_PACKAGEMERGE"/>
          </palette_group>
          <palette_group label="%StatikPaletteGroup.InformationFlow">
             <creation_tool id="CREATE_INFORMATIONFLOW"/>
             <creation_tool id="CREATE_INFORMATIONFLOWNODE"/>
             <creation_tool id="CREATE_INFORMATIONITEM"/>
          </palette_group>
          <palette_group label="%StatikPaletteGroup.Common">
             <creation_tool id="CREATE_NOTE"/>
             <creation_tool id="CREATE_CONSTRAINT"/>
             <creation_tool id="CREATE_EXTERNDOCUMENT"/>
             <creation_tool id="CREATE_DEPENDENCY"/>
             <creation_tool id="CREATE_TRACEABILITY"/>

             <creation_tool id="CREATE_ABSTRACTION"/>
             <creation_tool id="CREATE_ELEMENTREALIZATION"/>
             <creation_tool id="CREATE_SUBSTITUTION"/>

             <creation_tool id="CREATE_RELATED_DIAGRAM_LINK"/>
          </palette_group>
          <palette_group label="%StatikPaletteGroup.Drawings">
             <creation_tool id="CREATE_DRAWING_LINE"/>
             <creation_tool id="CREATE_DRAWING_TEXT"/>
             <creation_tool id="CREATE_DRAWING_ELLIPSE"/>
             <creation_tool id="CREATE_DRAWING_RECTANGLE"/>
          </palette_group>
       </palette>
    </extension>
</plugin>
