<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.modelio.platform.preferencespages">
		<page class="org.modelio.app.update.preferences.UpdatePreferencesPage"
		      id="org.modelio.platform.preferences.update"
		      name="%Update"
		      icon="icons/updatemodelio.png" />
	</extension>
  <extension
        point="org.modelio.platform.preferences">
     <initialization>
        <preference name="Update.Site"
              value="https://www.modelio.org/updates"
              >
        </preference>
     </initialization>
  </extension>
</plugin>
