<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension id="id2" point="org.eclipse.e4.workbench.model">
    	<fragment uri="e4model/fragment.e4xmi"/>
	</extension>

	<extension point="org.modelio.app.preferencepages">
		<page class="org.modelio.app.modules.catalog.update.CatalogUpdatePreferencesPage"
			  id="org.modelio.mda.infra.catalog.update.catalogupdate"
		      name="%ModuleCatalog.name"
		      icon="icons/module.png" />
	</extension>

 <extension
       point="org.modelio.app.preferences">
    <initialization>
       <preference
             name="ModuleCatalog.ShowCompatible"
             value="true">
       </preference>
       <preference
             name="ModuleCatalog.ShowLatest"
             value="true">
       </preference>
    </initialization>
 </extension>
</plugin>
