<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="rcp" sequenceNumber="30">
	<locations>
		<!-- "test-resources/files" must be placed to first in order Modelio test can found bundle files, modules and templates -->
		<location path="${project_loc:/test-resources}/files" type="Directory"/>

		<!-- Lib JaxB, Jakarta etc. -->
		<location path="${project_loc:/rcp-target}/javax/jaxb" type="Directory"/>

		<!-- Eclipse RCP platform -->
		<location path="${project_loc:/rcp-target}/rcp-eclipse/eclipse" type="Directory"/>
		<location path="${project_loc:/rcp-target}/rcp-eclipse/eclipse-fr" type="Directory"/>
		<location path="${project_loc:/rcp-target}/rcp-eclipse/swt" type="Directory"/>

		<!-- Third-party Libraries re-packaged by Modeliosoft or Modeliosoft libraries -->
		<location path="${project_loc:/rcp-target}/modelio-integ/org.astyle/astyle" type="Directory"/>
		<location path="${project_loc:/rcp-target}/modelio-integ/apache/tika" type="Directory"/>
		<location path="${project_loc:/rcp-target}/modelio-integ/apache/jena" type="Directory"/>
		<location path="${project_loc:/rcp-target}/modelio-integ/apache/xerces" type="Directory"/>
		<location path="${project_loc:/rcp-target}/modelio-integ/oauth/oauth" type="Directory"/>
		<location path="${project_loc:/rcp-target}/modelio-integ/sf-practicalxml/praticalxml" type="Directory"/>
		<location path="${project_loc:/rcp-target}/modelio-integ/org.jdbm/jdbm" type="Directory"/>

		<!-- Third-party libraries  -->
		<location path="${project_loc:/rcp-target}/apache/log4j" type="Directory"/>
		<location path="${project_loc:/rcp-target}/apache/commons-compress" type="Directory"/>
		<location path="${project_loc:/rcp-target}/apache/commons-lang" type="Directory"/>
		<location path="${project_loc:/rcp-target}/apache/freemarker" type="Directory"/>
		<location path="${project_loc:/rcp-target}/org.eclipse/nebula-nattable" type="Directory"/>
		<location path="${project_loc:/rcp-target}/org.eclipse/nebula-incubator" type="Directory"/>
		<location path="${project_loc:/rcp-target}/org.eclipse/nebula" type="Directory"/>
		<location path="${project_loc:/rcp-target}/org.eclipse/gef-draw2d" type="Directory"/>
		<location path="${project_loc:/rcp-target}/org.eclipse/uml2" type="Directory"/>
		<location path="${project_loc:/rcp-target}/org.eclipse/emf" type="Directory"/>
		<location path="${project_loc:/rcp-target}/tmatesoft/svnkit-1.10.9" type="Directory"/>
		<location path="${project_loc:/rcp-target}/org.slf4j/slf4j" type="Directory"/>
		<location path="${project_loc:/rcp-target}/ch.qos/logback" type="Directory"/>

		<!-- JRE  -->
		<location path="${project_loc:/pack-resources}/openjdk-jre11" type="Directory"/>
	</locations>
</target>